.container1 {
  background-color: beige;
}

.box {
  display: flex;
  padding: 30px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box1 img {
  width: 100px;
  border-radius: 25px;
}
